* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  top: 0;
  font-family: 'Poppins', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

section {
  top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url('./images/header-m-background.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0 0 0 80px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #344563;
}

header {
  background-color: #fff;
}

li {
  list-style: none;
}

h2.dummy-heading {
  font-size: 0;
  visibility: hidden;
}

.header-section {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 14px 24px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6070ff;
}

.navigation-links {
  display: none;
}

.nav-links {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  gap: 40px;
  text-decoration: none;
}

.sticky-nav {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e5e5e5;
}

.active-navlink a {
  color: #2230d2;
}

.hover-menu:hover {
  color: #2230d2;
}

.intro-section {
  background-color: #fff;
  min-width: 375px;
  padding-top: 80px;
  padding-bottom: 80px;
  height: calc(36.75rem + 1.6781rem);
  width: 100vw;
}

.intro-header {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 70px;
  font-style: normal;
  display: flex;
  align-items: center;
}

.intro-intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-image: none;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  margin-top: 30px;
}

.connect-icons {
  display: flex;
  margin-top: 20px;
  margin-left: -40px;
  align-items: center;
  gap: 20px;
}

.connect-icons li:hover {
  transform: scale(1.2);
}

.works-section {
  background-color: #e5e5e5;
  background-image: none;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.project {
  background-color: #fff;
  border: 0.2rem solid #e5e5e5;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.project:hover {
  border: 0.125rem solid #a7aeff;
  filter: drop-shadow(0 3rem 3rem rgb(37 47 137 / 8%));
}

.project:last-child {
  margin-bottom: 50px;
}

.project-img {
  /* width: 295px; */
  width: 100%;
  height: auto;

  /* margin-left: 30px; */

  /* margin-top: 20px; */
  padding: 20px;
}

.project-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 30px;
}

.project-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  margin-top: -30px;
}

.project-client {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.programming-language {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-details {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 35px;
  margin-right: 25px;
}

.languages {
  display: flex;
  gap: 10px;
  margin-left: -8px;
}

.dev-tool {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 10px;
  border: 8px solid #ebebff;
}

.btn {
  width: 120px;
  height: 50px;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transition: 0.5s all;
  transform: translate(3px, 0);
}

.btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.btn:visited {
  color: #5e6c84;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 3.125rem 1.5rem;
  width: 100vw;
  border-top-right-radius: 5.0625rem;
  background: none;
  background-color: #fff;
  overflow: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  color: #172b4d;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.top-section .title {
  width: 65%;
}

.outro {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.top-section .supporting-text {
  margin-bottom: 1rem;
}

.top-section .social-media-links {
  padding: 0.75rem;
}

.primary-btn {
  align-self: flex-start;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  width: auto;
  padding: 0.75rem;
  border: 0.0625rem solid #6070ff;
  border-radius: 0.5rem;
  color: #396df2;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s;
}

.primary-btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 0.5rem 1rem rgb(64 83 252 / 24%);
}

.primary-btn:active {
  background-color: #2230d2;
}

.skill-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  border-bottom: 0.0625rem solid #dfe1e6;
  transition: border 1.5s ease-out;
}

.skill-label-container .label {
  text-transform: capitalize;
  color: #344563;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.skill-drop-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: auto;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
  padding: 0.75rem 0;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.skill-list li {
  display: flex;
  align-items: center;
  height: 4rem;
  background: #f7f7f9;
  border-radius: 0.5rem;
  padding: 0.5625rem 0 0.6075rem 0.75rem;
}

.skill-list li img {
  width: 3.25rem;
  object-fit: contain;
  border-radius: 50%;
  vertical-align: middle;
}

.skill-list li span {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  vertical-align: middle;
  color: #253858;
  margin-left: 1rem;
}

.frameworks li:nth-child(4) img {
  border-radius: 0%;
}

/* Media Section for the About-section */

@media (min-width: 48em) {
  .about-section {
    flex-direction: row;
    gap: 1.5625rem;
    padding: 8.875rem 8.375rem;
  }

  .top-section {
    flex-basis: 40%;
  }

  .top-section .title {
    width: 40%;
  }

  .top-section .supporting-text {
    margin-bottom: 1.625rem;
  }

  .top-section .primary-btn {
    margin-top: 1.25rem;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
  }

  .skill-label-container {
    min-width: 28.125rem;
  }

  .skill-list {
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
  }

  .skill-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #f7f7f9;
    border-radius: 0.5rem;
    width: 7.625rem;
    height: inherit;
    padding: 0.75rem 0.75rem 1.25rem;
    transition: background-color 0.21s, transform 0.21s;
  }

  .skill-list li:hover {
    background-color: #e5e5e5;
    transform: scale(1.1);
    cursor: pointer;
  }

  .skill-list li span {
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  width: 100%;
  background-image: url(./images/contact-form-m-bg.svg);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 50px;
  border-bottom-left-radius: 0;
}

.contact-section h2 {
  color: #fff;
  width: 90%;
  text-align: center;
  padding-top: 25px;
  font-weight: 700;
  font-size: 40px;
}

.contact-section p {
  color: #ebebff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: -10px;
  padding: 15px;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contact-input {
  padding: 15px;
  width: 365px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
  outline: none;
}

.text-area {
  height: 170px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.btn-contact {
  width: 140px;
  border: none;
  padding: 12px 16px;
  background: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border-radius: 8px;
  margin-left: 0;
}

.backdrop {
  position: fixed;
  background: #c1c7d090;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.popup {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 3rem;
  transform: translate(-50%, 0);
  width: 80%;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  overflow: scroll;
}

.popup-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.popup-header h1 {
  justify-self: flex-start;
  align-self: start;
  margin-left: 0;
  margin-top: 0;
}

.exit {
  align-self: flex-start;
  justify-self: flex-end;
  cursor: pointer;
}

.popup-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: -1.5rem;
}

.project-image {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.popup-paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.popup .languages {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
}

.btn-div {
  display: flex;
  gap: 1rem;
}

.button-container .btn-div {
  border-top: 1px solid #dfe1e6;
}

.popup .btn {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  margin-top: 1.5rem;
}

.popup .btn img {
  margin-left: 0.5rem;
}

.error {
  color: #f12720;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 768px) {
  .popup-flex {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    align-items: flex-start;
  }

  .popup-paragraph {
    margin-right: 2rem;
  }

  section {
    background-image: url(./images/header-d-background.svg);
    background-origin: padding-box;
    background-position: center;
    padding: 22.4375rem 12% 15.9375rem;
    border-bottom-left-radius: 100px;
  }

  .header-logo {
    margin-left: 80px;
  }

  .navigation-links {
    display: inline;
    margin-right: 40px;
  }

  .mobile-menu {
    display: none;
  }

  .intro-header {
    width: 69%;
  }

  .intro-intro {
    font-size: 20px;
    line-height: 28px;
  }

  .works-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }

  .about-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .project-img {
    width: 95%;
    height: 95%;
    padding: 30px;
  }

  .project-reverse {
    order: -1;
  }

  .contact-section {
    background-image: url(./images/contact-form-d-bg.svg);
    background-size: 100% 100%;
    border-top-left-radius: 120px;
    padding-top: 170px;
  }

  .contact-text {
    max-width: 600px;
  }

  .contact-input {
    width: 385px;
  }
}

.mobile-main-menu {
  position: absolute;
  background: #6070ffee;
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.closing-icon {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  top: 1rem;
  right: 1.6rem;
}

.mobile-main-menu a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 0.4rem;
}

.mobile-main-menu .menu-li {
  list-style-type: none;
  margin-right: 20%;
  margin-bottom: 4rem;
  margin-top: 30%;
  display: flex;
}

.mobile-main-menu .nav-link {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 0.4rem;
  margin-right: 20rem;
  margin-top: -20px;
}

.mobile-main-menu .nav-link:hover {
  color: #6070ff;
  font-size: 3.4rem;
}

.mobile-main-menu.visible {
  display: block;
}
